body {
    margin: 0;
    background: rgb(48,56,65);
    background: linear-gradient(330deg, rgba(48,56,65,1) 0%, rgba(58,71,80,1) 100%);
    display: grid;
    grid-template: 
        'header'
        'main';
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 90vh;
    color: #EEEEEE;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #EEEEEE;
}

#header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

#header .item {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    margin-right: 2em;
    text-decoration: underline;
}

#main {
    grid-area: main;
    display: flexbox;
    justify-content: center;
    align-content: center;
}

#name {
    text-align: center;
    margin-top: 30vh;
    font-size: 10vh;
}
