
#main input {
    height: 1em;
}

#loginwrapper {
    height: 200px;
    position: relative;
    margin-top: 5em;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#loginwrapper a {
    font-size: 0.7em;
}

#loginwrapper button {
    border: 4px solid #D72323;
    color: #EEEEEE;
    background: none;
    padding: 0.5em;
    margin: .5em;
    cursor: pointer;
}

#loginwrapper button:hover {
    transform: scale(1.1);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    border: 5px solid #EEEEEE; 
}
