:root {
    --bg: #ffffff;
    --bg-dark: #f8f8f8;
    --bg-darker: #d8d8d8;
    --accent: #ff763f;

    --padding: 3px;
    --margin: 3px;
}

body {
    background: var(--bg);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    margin: 0;

    display: grid;
    grid-template: 
        'sidebar main';
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background: var(--bg-dark);
    padding: var(--padding);
    overflow-y: auto;
}

.content {
    grid-area: main;
    padding: var(--padding);
    overflow-y: auto;
}

.sidebarelem {
    background: var(--bg-darker);
    padding: var(--padding);
    margin: var(--margin);
    display: block;
    width: calc(100% - 2 * var(--margin));
    border: none;
    /* font-size: 1.3em; */
}

button {
    cursor: pointer;
}

/*
button {
    border: none;
    border-radius: 3px;
    background: var(--accent);
    box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
}
*/
