body {
    text-align: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: #FFFFFF;
    background: rgb(255,87,127);
    background: linear-gradient(330deg, rgba(255,87,127,1) 0%, rgba(255,136,75,1) 100%);

}

.custom-shape-divider-top-1665548886 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1665548886 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-top-1665548886 .shape-fill {
    fill: #FFFFFF;
}


#descr {
    padding-top: 5em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2rem;
}

button {
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
}
button:active {
    transform: scale(0.95);
}

#startBtn {
    background: #6fce78;
    border: 2px solid #10961d;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.75);
}

#startBtn:hover {
    transform: translateY(-2px);
    box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 14px 0px rgba(0,0,0,0.75);
}

#startCLI {
    background: black;
    font-family: monospace;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 5px;
}

#startCLI::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

#startCLI::selection {
  color: black;
  background: white;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

#cursor {
    background: white;
    width: 8px;
    height: 10px;
    display: inline-block;
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

table {
    padding: 2em;
    padding-left: 20vw;
    padding-right: 20vw;
    width: 100%;
    text-align: left;
}

tr { width: 100%; }

.key {
    text-align: right;
}

.input.wrong {
    border: 2px ridge red;
    background: rgba(255, 150, 150, 0.7);
}

.input.right {
    border: 2px solid green;
    background: rgba(200, 255, 150, 0.7);
}
